DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shopclonetr
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIS_URL=redis://localhost:6379
ASSET_BASE_URL=/images
